@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap');

body {
    margin: 0;
    background: black;
    font-family: 'Quicksand', sans-serif;
    color: white;
    /* overflow: hidden; */
}

h1, h3 {
    margin: 0;
}

div {
    padding: 0;
}

.content {
    height: 100vh;
    width: 100vw;
    padding-top: 3em;
    box-sizing: border-box;
    user-select: none;
}

.content .info {
    text-align: center;
    font-weight: 400;
}

.content h1.info {
    font-size: 3.5em;
    color: rgb(255, 255, 150);
    margin-bottom: .5em;
}

.content h3.info {
    color: aqua;
    font-size: 1.5em;
}

#splash {
    color: white;
}

#graphics {
    margin-top: 5em;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#sun {
    animation: pulsate 1s alternate linear infinite;
    fill: rgb(255, 255, 150);
    stroke: rgb(255, 255, 178);
}

#tahsin-face {
    height: 60px;
    border-radius: 50%;
}

.content svg {
    margin: 0 auto;
    height:30em;
    width: 40em;
}

#orbits-container {
    transform-origin: 50% 50%;
    /* transform: rotateX(60deg); */
}

.orbit {
    stroke-width: 5;
    stroke: gray;
    fill: none;
    filter: url("#blur-filter");
}

.satellite {
    transform-origin: 50% 50%;
    animation-name: revolve;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

g#work {
    animation-duration: 60s;
}

g#skills {
    animation-duration: 50s;
    animation-direction: reverse;
}

g#contact {
    animation-duration: 100s;
    animation-direction: reverse;
}

#graphics text {
    fill: white;
    animation-name: revolve;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

g#work text {
    animation-duration: 60s;
    transform-origin: calc(50% - 200px) 50%;
    animation-direction: reverse;
}

g#skills text {
    animation-duration: 50s;
    transform-origin: calc(50% - 100px) 50%;
}

g#contact text {
    animation-duration: 100s;
    transform-origin: calc(50% + 150px) 50%;
}


#graphics a:hover text {
    font-weight: bold;
}

#graphics .name-title {
    font-weight: bold;
    fill: black;
}

.planet {
    transition: 0.3s;
}

#graphics a:hover .planet {
    stroke-width: 10;
}

footer {
    width: 100%;
    text-align: center;
    position: absolute;
    line-height: 3em;
    bottom: 0;
}

@keyframes revolve {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes pulsate{
    from {
        r: 40;
        stroke-width: 0;
    }
    to {
        r: 42;
        stroke-width: 2;
    }
}

#overlay {
    height: 100vh;
    width: 100vw;
    background: rgba(0,0,0,0.5);
    z-index: 9999;
    position: absolute;
    transition: opacity 0.5s;
    /* display: none; */
    opacity: 1;
    color: black;
}

#overlay-content {
    height: 85%;
    width: 80%;
    padding: 20px;
    background: #FFF;
    border-radius: 20px;
    box-sizing: border-box;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
}

#overlay-title {
    width: 30%;
    margin-top: -1em;
    padding: 20px;
    background: black;
    text-align: center;
    color: rgb(255, 255, 150);
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

#overlay #exit {
    height: 50px;
    width: 50px;
    float: right;
}

#overlay #exit line {
    stroke-width: 3px;
    stroke: white;
    z-index: 1;
    transform-origin: 50% 50%;
    transition: 0.2s;
}

#overlay #exit:hover line {
    stroke-width: 5px;
    stroke: white;
    transform: rotate(90deg);
}

#overlay-list {
    height: 100%;
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow-y: scroll;
}

#overlay-list li {
    margin: 15px 0;
    width: 100%;
    max-width: 450px;
    background-color: black;
    border-radius: 10px;
    box-shadow: 0px 10px 20px 5px black;
    color: white;
    overflow: hidden;
    text-align: center;
    box-sizing: border-box;
    transition: 0.2s;
}

#overlay-list li:hover {
    box-shadow: 0px 0px 10px 10px black;
    color: rgb(255, 255, 150);
}

#overlay-list li h4 {
    margin: 0;
    padding: 5px;
}

#overlay-list li figure {
    width: 300px;
    height: 150px;
    margin: 0 auto;
} 

#overlay-list li figcaption {
    padding: 10px;
}

#overlay-list img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#overlay-list li * {
    width: 100%;
}

#overlay a, a:link, a:visited {
    color: white;
    text-decoration: none;
}

#overlay a:hover {
    color:rgb(255, 255, 150);
}